{
  "ecmaVersion": 2017,
  "ecmaFeatures": {
    "impliedStrict": true
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "no-console": 0
  },
   "env": {
    "jest": true
  }
}
