<div class="main contact-us">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <header class="section-header">
            <br>
            <br>
            <h2>Page Not Found!</h2>
            <hr>
            <p class="lead">Seems you're looking for something that doesn't exist.</p>
          </header>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <br>
          <p><a class="btn btn-primary" href="/">Retrun home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
