{{#contentFor "styles"}}
  <link href="/dist/home/styles.css" rel="stylesheet" />
{{/contentFor}}

{{#contentFor "javascript"}}
  <script src="/dist/home/index.js"></script>
{{/contentFor}}

<div class="documentation page-header page-header-small">
  <div class="filter"></div>
  <div class="motto">
    <h2 class="title-uppercase text-center">Koa-Startup-Kit</h2>
    <h5 class="text-center">A modern take on building amazing websites. Fast.</h5><br>
  </div>
</div>

<div class="main">
  <section class="section-white">
    <div class="features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h2 class="title">Why our product is the best</h2>
            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-palette"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Beautiful Gallery</h4>
                <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p><a class="btn btn-link btn-danger" href="#pkp">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-bulb-63"></i>
              </div>
              <div class="description">
                <h4 class="info-title">New Ideas</h4>
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p><a class="btn btn-link btn-danger" href="#pkp">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Statistics</h4>
                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p><a class="btn btn-link btn-danger" href="#pkp">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Delightful design</h4>
                <p>Find unique and handmade delightful designs related items directly from our sellers.</p><a class="btn btn-link btn-danger" href="#pkp">See more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
